<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyD5dRfwvHCgwetdqC9eiErLP1w6hip6ays</string>
	<key>GCM_SENDER_ID</key>
	<string>982811968296</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.movieList</string>
	<key>PROJECT_ID</key>
	<string>colendilabs-movie-list</string>
	<key>STORAGE_BUCKET</key>
	<string>colendilabs-movie-list.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:982811968296:ios:e5a3b80b5a6ce049d8461d</string>
</dict>
</plist>